<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Import css stylesheet like this for Flask -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>My Prediction</title>
</head>
<body>
    <h1>Welcome</h1>
    <h2>Please enter data</h2>
    <form method="POST">
        {# This hidden_tag is a CSRF security feature. #}
        {{ form.hidden_tag() }}
        {{ form.f0.label }} (1 if the file name contains a keyword and 0 otherwise) {{ form.f0 }}
        <br>
        <h3>Keyword counts:</h3>
        <br>
        {{ form.f1.label }} {{ form.f1 }}
        <br>
        {{ form.f2.label }} {{ form.f2 }}
        <br>
        {{ form.f3.label }} {{ form.f3 }}
        <br>
        {{ form.f4.label }} {{ form.f4 }}
        <br>
        {{ form.f5.label }} {{ form.f5 }}
        <br>
        {{ form.f6.label }} {{ form.f6 }}
        <br>
        {{ form.f7.label }} {{ form.f7 }}
        <br>
        {{ form.f8.label }} {{ form.f8 }}
        <br>
        {{ form.f9.label }} {{ form.f9 }}
        <br>
        {{ form.f10.label }} {{ form.f10 }}
        <br>
        {{ form.f11.label }} {{ form.f11 }}
        <br>
        {{ form.f12.label }} {{ form.f12 }}
        <br>
        {{ form.f13.label }} {{ form.f13 }}
        <br>
        {{ form.f14.label }} {{ form.f14 }}
        <br>
        {{ form.f15.label }} {{ form.f15 }}
        <br>
        {{ form.f16.label }} {{ form.f16 }}
        <br>
        {{ form.f17.label }} {{ form.f17 }}
        <br>
        {{ form.f18.label }} {{ form.f18 }}
        <br>
        {{ form.f19.label }} {{ form.f19 }}
        <br>
        {{ form.f20.label }} {{ form.f20 }}
        <br>
        {{ form.f21.label }} {{ form.f21 }}
        <br>
        {{ form.f22.label }} {{ form.f22 }}
        <br>
        {{ form.f23.label }} {{ form.f23 }}
        <br>
        {{ form.f24.label }} {{ form.f24 }}
        <br>
        {{ form.f25.label }} {{ form.f25 }}
        <br>
        {{ form.f26.label }} {{ form.f26 }}
        <br>
        {{ form.f27.label }} {{ form.f27 }}
        <br>
        {{ form.f28.label }} {{ form.f28 }}
        <br>
        {{ form.f29.label }} {{ form.f29 }}
        <br>
        {{ form.f30.label }} {{ form.f30 }}
        <br>
        {{ form.f31.label }} {{ form.f31 }}
        <br>
        {{ form.f32.label }} {{ form.f32 }}
        <br>
        {{ form.f33.label }} {{ form.f33 }}
        <br>
        {{ form.f34.label }} {{ form.f34 }}
        <br>
        {{ form.f35.label }} {{ form.f35 }}
        <br>
        {{ form.f36.label }} {{ form.f36 }}
        <br>
        {{ form.f37.label }} {{ form.f37 }}
        <br>
        {{ form.f38.label }} {{ form.f38 }}
        <br>
        {{ form.f39.label }} {{ form.f39 }}
        <br>
        {{ form.f40.label }} {{ form.f40 }}
        <br>
        {{ form.f41.label }} {{ form.f41 }}
        <br>
        {{ form.f42.label }} {{ form.f42 }}
        <br>
        {{ form.f43.label }} {{ form.f43 }}
        <br>
        {{ form.f44.label }} {{ form.f44 }}
        <br>
        {{ form.f45.label }} {{ form.f45 }}
        <br>
        {{ form.f46.label }} {{ form.f46 }}
        <br>
        {{ form.f47.label }} {{ form.f47 }}
        <br>
        {{ form.f48.label }} {{ form.f48 }}
        <br>
        {{ form.f49.label }} {{ form.f49 }}
        <br>
        {{ form.f50.label }} {{ form.f50 }}
        <br>
        {{ form.f51.label }} {{ form.f51 }}
        <br>
        {{ form.f52.label }} {{ form.f52 }}
        <br>
        {{ form.f53.label }} {{ form.f53 }}
        <br>
        {{ form.f54.label }} {{ form.f54 }}
        <br>
        {{ form.f55.label }} {{ form.f55 }}
        <br>
        {{ form.f56.label }} {{ form.f56 }}
        <br>
        {{ form.f57.label }} {{ form.f57 }}
        <br>
        {{ form.f58.label }} {{ form.f58 }}
        <br>
        {{ form.f59.label }} {{ form.f59 }}
        <br>
        {{ form.f60.label }} {{ form.f60 }}
        <br>
        {{ form.f61.label }} {{ form.f61 }}
        <br>
        {{ form.f62.label }} {{ form.f62 }}
        <br>
        {{ form.f63.label }} {{ form.f63 }}
        <br>
        {{ form.f64.label }} {{ form.f64 }}
        <br>
        {{ form.f65.label }} {{ form.f65 }}
        <br>
        {{ form.f66.label }} {{ form.f66 }}
        <br>
        {{ form.f67.label }} {{ form.f67 }}
        <br>
        {{ form.f68.label }} {{ form.f68 }}
        <br>
        {{ form.f69.label }} {{ form.f69 }}
        <br>
        {{ form.f70.label }} {{ form.f70 }}
        <br>
        {{ form.f71.label }} {{ form.f71 }}
        <br>
        {{ form.f72.label }} {{ form.f72 }}
        <br>
        {{ form.f73.label }} {{ form.f73 }}
        <br>
        {{ form.f74.label }} {{ form.f74 }}
        <br>
        {{ form.f75.label }} {{ form.f75 }}
        <br>
        {{ form.f76.label }} {{ form.f76 }}
        <br>
        {{ form.f77.label }} {{ form.f77 }}
        <br>
        <h3>Number of lines of:</h3>
        <br>
        {{ form.f78.label }} {{ form.f78 }}
        <br>
        {{ form.f79.label }} {{ form.f79 }}
        <br>
        {{ form.f80.label }} {{ form.f80 }}
        <br>
        {{ form.submit() }}
    </form>
</body>
</html>