<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Import css stylesheet like this for Flask -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>My Prediction</title>
</head>
<body>
    <h1>Welcome</h1>
    <h2>Please enter data</h2>
    <form method="POST">
        {# This hidden_tag is a CSRF security feature. #}
        {{ form.hidden_tag() }}
        {{ form.f0.label }} {{ form.f0 }}
        <br>
        {{ form.f1.label }} {{ form.f1 }}
        <br>
        {{ form.f2.label }} {{ form.f2 }}
        <br>
        {{ form.f3.label }} {{ form.f3 }}
        <br>
        {{ form.f4.label }} {{ form.f4 }}
        <br>
        {{ form.f5.label }} {{ form.f5 }}
        <br>
        {{ form.f6.label }} {{ form.f6 }}
        <br>
        {{ form.f7.label }} {{ form.f7 }}
        <br>
        {{ form.f8.label }} {{ form.f8 }}
        <br>
        {{ form.f9.label }} {{ form.f9 }}
        <br>
        {{ form.f10.label }} {{ form.f10 }}
        <br>
        {{ form.f11.label }} {{ form.f11 }}
        <br>
        {{ form.f12.label }} {{ form.f12 }}
        <br>
        {{ form.f13.label }} {{ form.f13 }}
        <br>
        {{ form.f14.label }} {{ form.f14 }}
        <br>
        {{ form.f15.label }} {{ form.f15 }}
        <br>
        {{ form.submit() }}
    </form>
</body>
</html>